.add-booking-form{
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__form-group{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__form-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    &__label{
        font-size: 18px;
        font-weight: 600;
        color: var(--primary-text-color);
    }

    &__input{
        width: calc(100% - 24px);
        padding: 10px 12px;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-size: 16px;
        transition: border 0.2s;

        &:focus{
            outline: none;
            border-color: var(--primary-color);
        }
    }

    &__add-button,
    &__remove-button,
    &__submit-button{
        font-size: 16px;
        border: none;
        border-radius: 6px;
        font-weight: 500;
        transition: opacity 0.2s;
        cursor: pointer;
    }

    &__add-button{
        padding: 14px;
        background-color: #007bff;
        color: white;
        align-self: flex-start;

        &:hover{
            opacity: 0.8;
        }
    }

    &__remove-button{
        height: 100%;
        background-color: #ff6b6b;
        padding: 10px;

        &:hover{
            opacity: 0.8;
        }
    }

    &__submit-button{
        background-color: var(--primary-color);
        color: white;
        font-size: 18px;
        padding: 12px 20px;
        margin-top: 10px;

        &:hover{
            opacity: 0.8;
        }
    }
}

.error-message{
    color: red;
    font-size: 14px;
}